$main-color: #ab4640;
$secondary-color: #800b0b;
$pure-white: #fff;
$light-white: #cac9c99f;
$dark: #2e2e2e;

$gradient-gray-two: linear-gradient(to right, #6d6262 10%, #2d3439bd 40%);
$gradient-gray: linear-gradient(to top, #f3e4df96 0%, rgba(255, 255, 255, 0.9) 100%);
$gradient-solid-red: linear-gradient(45deg, rgba(9, 21, 37, 0.685), rgba(49, 19, 19, 0.75));
$light-gradient-solid-red: linear-gradient(45deg, rgba(23, 8, 8, 0.75), rgba(83, 59, 25, 0.75));
