@use './colors' as colors;

@mixin burgerBtn {
	position: absolute;
	right: 0;
	height: 3px;
	content: '';
	background-color: colors.$pure-white;
	transition: width 0.3s;
}

@mixin heroImages($bgImg) {
	background-image: colors.$gradient-gray, url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@mixin offerCardStyles {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
